
html{
	font-size: 100%;
}
*{
	margin: 0;
	padding: 0;
}
main{
	margin: 16px !important;
	box-sizing: content-box;
	height: calc(100vh - 32px);
	overflow: hidden;
	/*border: solid 1px red;*/
}
#musicsheet{
	height: 3000px;
	position: relative;
	transform: translateZ(0);
	will-change: transform;
}

svg{
	/*border: solid 1px gray;*/
}


/* Debug display on screen */
#debugOutput{
    position: fixed;
    bottom: 0;
    padding-left: 1em ;
    font-size: .8em;
    color:#00c41c;
    z-index: 99999;
    pointer-events: none;
}

